In [218]:
import pandas as pd
import requests
import json
import ast

In [219]:
headers = {'content-type': 'application/json','encoding':'utf-8'}
url = 'https://covid19.sinave.gob.mx/Graficasconfirmados.aspx/'

In [220]:
# Estados
r = requests.post(url + 'Estados', headers=headers)
estados = pd.DataFrame(ast.literal_eval(r.json()['d']))
estados.columns = ['Estado', 'Region']
estados['Region'] = estados['Region'].astype(int)

In [221]:
# Datos
r = requests.post(url + 'Datos', headers=headers)
datos = pd.DataFrame(ast.literal_eval(r.json()['d']))
datos.columns = ['Region', 'ToDrop', 'ToDrop', 'Acumulados', 'ToDrop', 'Fecha', 'ToDrop']
datos = datos.drop(['ToDrop'], axis=1)
datos['Fecha'] = pd.to_datetime(datos['Fecha'], dayfirst=True)
datos['Acumulados'] = datos['Acumulados'].astype(int)
datos['Region'] = datos['Region'].astype(int)
datos = datos.merge(estados, on='Region')
datos = datos.set_index(['Region', 'Fecha']).sort_index(level=('Region', 'Fecha'))
datos['Anterior'] = datos.groupby('Estado')['Acumulados'].shift()
datos["Casos"] = datos["Acumulados"] - datos["Anterior"]

In [222]:
# Datos 2
r = requests.post(url + 'Datos2', headers=headers)
datos2 = pd.DataFrame(ast.literal_eval(r.json()['d']))
datos2.columns = ['Region', 'ToDrop', 'ToDrop', 'Acumulados', 'ToDrop', 'Fecha', 'ToDrop']
datos2 = datos2.drop(['ToDrop'], axis=1)
datos2['Fecha'] = pd.to_datetime(datos2['Fecha'], dayfirst=True)
datos2['Acumulados'] = datos2['Acumulados'].astype(int)
datos2['Region'] = datos2['Region'].astype(int)
datos2 = datos2.merge(estados, on='Region')
datos2 = datos2.set_index(['Region', 'Fecha']).sort_index(level=('Region', 'Fecha'))
datos2['Anterior'] = datos2.groupby('Estado')['Acumulados'].shift()
datos2["Casos"] = datos2["Acumulados"] - datos2["Anterior"]

In [223]:
datos2

                   Acumulados    Estado  Anterior   Casos
Region Fecha
18     2020-04-01           8   NAYARIT       NaN     NaN
       2020-04-02           8   NAYARIT       8.0     0.0
       2020-04-03           8   NAYARIT       8.0     0.0
       2020-04-04           9   NAYARIT       8.0     1.0
       2020-04-05           9   NAYARIT       9.0     0.0
...                       ...       ...       ...     ...
33     2020-07-10      289174  NACIONAL  282283.0  6891.0
       2020-07-11      295268  NACIONAL  289174.0  6094.0
       2020-07-12      299750  NACIONAL  295268.0  4482.0
       2020-07-13      304435  NACIONAL  299750.0  4685.0
       2020-07-14      311486  NACIONAL  304435.0  7051.0

[1680 rows x 4 columns]

In [224]:
datos = datos.append(datos2)
datos = datos[datos["Estado"] != "NACIONAL"]

In [229]:
import datetime
today = datetime.date.today().strftime('%d%m%y')

In [232]:
casos = pd.DataFrame()
casos = datos[["Estado", "Casos"]].copy()
casos.reset_index(inplace=True)
casos.dropna(inplace=True)

casos.rename(columns={"Region": "Region_ID",
                      "Estado": "region", 
                      "Casos": "cases",
                      "Fecha": "date"}, inplace=True)

casos.drop(columns={"Region_ID"}, inplace=True)

casos["import_status"] = "local"

casos.to_csv("casos_%s.txt" % today, index=False)